body {
    font-family: "Poppins", sans-serif;
    background-color: rgb(9, 131, 225);
    margin: 0px;
}

section {
    color: white;
}

h1, h2{
    color: white;
}

p {
    color: white;
    margin-bottom: 10px;
}

.form-box{
    height: 550px;
    background-color: rgba(255, 255, 255, 0.117);
    padding: 20px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.262);
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin: 10px 0;
    font-size: 18px;
}

input {
    border-radius: 10px;
    height: 25px;
}

textarea{
    border-radius: 10px;
}

.input-button{
    margin: 15px 0;
    width: 10%;
    border-radius: 10px;
}

.input-button:hover{
    background-color: #1469be;
    color: white;
    border-color: white;
}

.home-box{
    height: 450px;
    background-color: rgba(255, 255, 255, 0.117);
    padding: 20px;
    border-radius: 30px;
    border: 3px solid rgba(255, 255, 255, 0.262);
    display: flex;
    align-items: flex-start;
}

.home-box h1{
    font-size: 40px;
    color: white;
    margin-top: -5px;
}

.home-box p{
    font-size: 20px;
    color: white;
}

.about-box{
    height: 250px;
    background-color: rgba(255, 255, 255, 0.117);
    border: 3px solid rgba(255, 255, 255, 0.262);
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.about-box p{
    font-size: 18px;
}

.about-box hr{
    margin-bottom: 20px;
    margin-top: 30px;
}

.portfolio-box{
    height: 300px;
    font-size: 18px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.117);
    border: 3px solid rgba(255, 255, 255, 0.262);
    margin-bottom: 40px;
}

.portfolio-box p {
    color: white;
    margin-left: 20px;
}

.portfolio-box h2 {
    color: white;
    font-size: 30px;
    font-weight: lighter;
    text-transform: capitalize;
    text-align: center;
}

.portfolio-box hr {
    color: white;
    margin-bottom: 20px;
}

.garden{
    height: 180px;
    width: 300px;
    border-radius: 30px;
    display: inline;
    float: right;
    margin-right: 18px;
}

.painting{
    height: 180px;
    width: 300px;
    border-radius: 30px;
    display: inline;
    float: left;
    margin-left: 18px;
    margin-right: 19px;
}

.photography{
    height: 180px;
    width: 300px;
    border-radius: 30px;
    display: inline;
    float: right;
    margin-right: 18px;
    margin-left: 18px;
}

.monster{
    height: 200px;
    width: 320px;
    border-radius: 30px;
    display: inline;
    float: right;
    margin-right: 3px;
    margin-left: 17px;
    margin-bottom: 1px;
}

.drumming{
    height: 200px;
    width: 320px;
    border-radius: 30px;
    display: inline;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.photoshop{
    height: 200px;
    width: 320px;
    border-radius: 30px;
    display: inline;
    float: right;
    margin-right: 3px;
    margin-left: 20px;
    margin-bottom: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 14px 10px;
    background-color: rgb(62, 66, 69);
    color: white;
}

.navbar .left {
    font-size: 22px;
    font-weight: bold;
}

.navbar .right {
    width: 400px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar .right a{
    text-decoration: none;
    margin-right: 20px;
    color: white;
}

.navbar .right a:hover{
    text-decoration: underline;
    color: rgb(102, 167, 217);
}

.home-content{
    background-color: rgb(41, 49, 208);
    max-width: 950px;
    margin: 0 auto;
    padding: 70px;
    height: 80vh;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #0b78a3, #0f4984);
    width: 100%;
    /* height: 100px; Adjust the height as needed */
}

.content{
    background-color: rgb(41, 49, 208);
    max-width: 950px;
    margin: 0 auto;
    padding: 70px;
    height: 130vh;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.5);
    background: linear-gradient(to bottom, #0b78a3, #0f4984);
    width: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    align-items: center; 
}

.flex-item {
    flex: 1; 
    padding: 10px;
}

.portrait {
    height: 350px;
    width: 350px;
    border-radius: 30px;
    display: inline;
    float: right;
    margin: 0px 3px 0px 28px;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 14px 10px;
    height: 30px;
    background-color: rgb(62, 66, 69);
}

.footer a{
    color: white;
    vertical-align: auto;
    margin-top: 20px;
}

.footer a:hover{
    text-decoration: underline;
    color: rgb(102, 167, 217);
}

.quote {
    font-family: serif;
    font-size: 33px;
    text-align: center;
}

.quote p {
    margin-top: 150px;
}

.container {
    height: 700px;
    width: 75%;
    gap: 10px;
    margin: 200px auto;
        
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-right: 260px;
  }

  .modal{
    height: 400px;
    padding: 20px;
    margin-left: 60px;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.466);
    position: absolute;
    border-radius: 30px;
    
}

.modal p {
    color: white;
    font-size: 60px;
    font-family: sans-serif;
    text-align: center;
}
 

  .placeholder{
    height: 220px;
    width: 320px;
  }
  
  


